<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="newsagg <%= Newsagg::VERSION %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= site.title %></title>
    <style>
    <% style_file = File.join(root_path, "css", "main.css") %>
    <%= File.read(style_file) %>
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">

    <meta property="og:title" content="<%= site.title %>" />
    <meta name="language" content="de" />

    <meta name="author" content="Johannes Müller" />
    <meta name="description" content="Täglich aktualisierte Schönstatt-Nachrichten. Zusammengetragen aus den Newsfeeds von Schönstatt-Seiten im Internet." />
    <meta property="og:description" content="Täglich aktualisierte Schönstatt-Nachrichten. Zusammengetragen aus den Newsfeeds von Schönstatt-Seiten im Internet." />

    <link rel="canonical" href="http://schoenstatt-news.de/">
    <meta property="og:url" content="http://schoenstatt-news.de/" />

    <meta property="og:site_name" content="Schönstatt-Nachrichten" />

    <meta property="og:type" content="website" />
    <meta property="article:published_time" content="<%= Time.now.strftime '%Y-%m-%dT%H:%M:%S%z' %>" />

    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#eeeeee">
    <meta name="theme-color" content="#eeeeee">
    <link rel="manifest" href="/icons/manifest.json">
  </head>
  <body class="layout--cards">
    <span class="impressum-link">
      <a href="/impressum.html">Impressum</a>
    </span>
    <h1>
    <%= site.title %>
    </h1>
    <div class="newsfeed"><div><div>
      <%
      entries = entries.take(48)
      ItemCursor.new( entries ).each do |entry, new_date, new_feed| %>
      <% if new_date %>
    </div></div>
    <div class="newsfeed__day">
      <h2 class="new-date" title="<%#= time_ago_in_words( entry.published ) %>">
      <%= localize entry.published, '%A, %d. %B %Y' %>
      </h2>
      <div class="newsfeed__entries">
        <% end %>
        <article class="entry">
          <main>
          <span class='entry__feed'>
            <img src="<%= entry.feed.url.gsub(/(?<!\/)\/[^\/].*\Z/, '/').gsub('http://schoenstatt.de/', 'http://schoenstatt.de/de/') + '/favicon.ico' %>" class="feed__icon" />
            <%= link_to entry.feed.title, entry.feed.url %>
          </span>
          <a href="<%= entry.url %>" title="<%= entry.short_summary %>">
            <div class="entry__header <% if image = entry.image %>entry__header--image" style="background-image: url(<%= image %>);<% end %>">
              <h3 class="entry__title">
              <%= sanitize entry.title %>
              </h3>
            </div>
          </a>
          <div class="entry__body">
            <div class="entry__summary">
              <% if entry.summary %>
              <%= sanitize entry.summary %>
              <% end %>
            </div>
          </div>
          </main>
        </article>
        <% end %>
      </div>
    </div>
    <aside class="feeds">
      <p>Diese Seite trägt täglich aktualisiert Schönstatt-Nachrichten aus den Newsfeeds der folgenden Seiten zusammen:</p>
      <ul class="feeds-list">
        <% feeds.each do |feed| %>
        <li>
          <a href="<%= feed.feed_url %>" title="Newsfeed"><svg class="social-icon"><use class="icon" xlink:href="#icon-rss" /></svg></a>
          <a href="<%= feed.url %>" title="Website"><%= feed.title %></a>
        </li>
        <% end %>
      </ul>
      <p><small class="timestamp">Letzte Aktualisierung: <time datetime="<%= Time.now.strftime '%Y-%m-%dT%H:%M:%S%z' %>"><%= localize Time.now, '%d. %B %Y %H:%M' %></time></small></p>
      <p><strong>Wenn Sie einen Newsfeed mit deutschsprachigen Schönstatt-Nachrichten vorschlagen möchten:</strong> Schreiben Sie uns eine E-Mail an <a href="mailto:hallo@schoenstatt-news.de">hallo@schoenstatt-news.de</a>.</p>
    </aside>
    <aside class="see-other">
      <p>Weitere nützliche Übersichtsseiten zu Schönstatt-Themen:</p>
      <ul class="see-other-list">
        <li><a href="http://santuarios.schoenstatt.de/"><strong>Schönstattheiligtümer in der Welt</strong></a></li>
        <li><a href="https://github.com/SMJ-Fulda/awesome-schoenstatt"><strong>Awesome-Schoenstatt</strong></a> Linkliste zu Schönstatt-Seiten im Internet</li>
        <li><a href="http://www.schoenstatt-zentren.net/start.html"><strong>Schönstattzentren im deutschsprachigen Raum</strong></a></li>
        <li><a href="https://twitter.com/hashtag/schoenstatt"><strong>#schoenstatt</strong> bei Twitter</a></li>
      </ul>
    </aside>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" class="social-icons">
      <symbol id="icon-rss" viewBox="0 0 512 512">
      <title>RSS Icon</title>
      <path d="M201.8 347.2c0 20.3-16.5 36.8-36.8 36.8 -20.3 0-36.8-16.5-36.8-36.8s16.5-36.8 36.8-36.8C185.3 310.4 201.8 326.8 201.8 347.2zM128.2 204.7v54.5c68.5 0.7 124 56.3 124.7 124.7h54.5C306.7 285.3 226.9 205.4 128.2 204.7zM128.2 166.6c57.9 0.3 112.3 22.9 153.2 63.9 41 41 63.7 95.5 63.9 153.5h54.5c-0.3-149.9-121.7-271.4-271.6-271.9V166.6L128.2 166.6z"/>
      </symbol>
    </svg>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71285253-5', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
