html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #eee;
  font-size: 9pt;
  line-height: 1.56;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  line-height: 1;
  margin: 1rem 0;
}

@media (min-width: 50em) {
  html {
    font-size: 11pt;
  }
  h1 {
    font-size: 4em;
  }
}


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #3C3CBB;
}
a:hover, a:active {
  color: #222288;
}

.new-date {
  font-size: 1rem;
}

.feed-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: .9rem;
}

h4.feed-title > a {
  color: #666;
}

.layout--carfs .newsfeed__day {
  display: block;
}

.layout--cards .newsfeed__entries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media (min-width: 66em) {
  .layout--cards .newsfeed__entries > .entry {
    flex-basis: 50%
  }
}

@media (min-width: 100em) {
  .layout--cards .newsfeed__entries > .entry {
    flex-basis: 33.33%
  }
}
@media (min-width: 133em) {
  .layout--cards .newsfeed__entries > .entry {
    flex-basis: 25%
  }
}

.layout--cards .entry > main{
  border: 1px solid #ddd;
  background-color: #F8F8F8;
  padding: .5em;
  border-radius: .2em;
  margin: .5em;
}

.entry__feed {
  text-transform: uppercase;
  font-weight: normal;
  font-size: .7rem;
  display: block;
}

.layout--cards .entry > main {
  margin-top: 2em;
}
.layout--cards .entry__feed {
  position: absolute;
  margin-top: -3em;
}

.entry__feed > a:link, .entry__feed > a:visited {
  color: #666;
}
.entry__feed > a:hover, .entry__feed > a:active {
  color: #444;
}

.layout--cards .entry__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: 50% 40%;
  background-size: cover;
  align-content: stretch;
}
.layout--cards .entry__header--image {
  min-height: 12em;
}
@media (min-width: 66em) {
  .layout--cards .entry__header {
    /* force height only when cards are displayed side by side */
    min-height: 12em;
  }
}

.entry__title {
  margin: 0;
  line-height: 1.38;
  font-weight: 600;
}
.layout--list .entry__title {
  margin-bottom: .2em;
}
.layout--cards .entry__title {
  font-size: 1.4rem;
}

.layout--cards .entry__header--image .entry__title {
  background-color: rgba(248, 248, 248, .78);
  align-self: stretch;
  padding: .2rem .4rem;
}

.layout--cards .entry__image {

}
img {
  max-width: 100%;
}
.layout--list .entry__summary {
  display: none;
}

.layout--cards .entry__summary {
  height: 6.24em;
  height: calc(1.56 * 4em);
  overflow: hidden;
}

.layout--list .newsfeed {
  column-width: 36em;
  column-gap: 4em;
}
.layout--list .newsfeed-entries {
  display: inline-block;
}
.layout--list .entry + .entry {
  margin-top: .85em;
}

p {
  margin: 0;
}

.feed__icon {
  width: 1.5em;
  height: 1.5em;
  vertical-align: top;
}

svg.social-icons path {
  color: inherit;
}

.social-icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: middle;
}

use.icon {
  fill: currentColor;
}

.feeds-list {
  list-style: none;
  column-width: 26em;
  padding: 0;
}
.feeds-list > li {
  line-height: 1.2;
  margin: .1em 0;
}
aside {
  margin: 2em 1em;
  font-weight: 600;
  color: #555;
}

.impressum-link {
  float: right;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .7;
}
